<app-menu></app-menu>

<div *ngIf="showCaterogies">
  <div class="container mt-5" *ngFor="let item of list">
    <div class="row">
      <div class="col-4">
        {{item.name}}
      </div>
      <div class="col-1">
        <a href="" [routerLink] = "['/category/edit/'+item.id]">
            <i class="navbar-toggler-icon fa fa-pencil"></i>
        </a>
        <i class="navbar-toggler-icon fa fa-trash"></i>
      </div>
    </div>
  </div>
</div>


<div class="row mt-5 mb-5" *ngIf="isSpinner">
  <div class="col-3">
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<app-pagination
  [currentPage]="page" 
  [itemTotal]="count"
  [limit]="limit"
  [url]="'/category'"
>
</app-pagination>
