<div class="navbar navbar-inverse bg-inverse">  
    <h1>Navicshow</h1>  
</div>  
<div class="row">
    <div class="col-sm p-3">
        <button class="btn btn-block btn-outline-primary" [routerLink] = "['/']">
            Home
        </button>
    </div>
    <div class="col-sm p-3">
        <button class="btn btn-block btn-outline-primary">
            Add article
        </button>
    </div>
    <div class="col-sm p-3">
        <button class="btn btn-block btn-outline-primary">
            Categories
        </button>
    </div>
</div>
<router-outlet></router-outlet>